.sidebar {
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    font-size: 1.2rem;
    border-right: 1px solid white;
}

.sidebar a {
    color: white;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: transparent;
    transition: all 200ms ease-in-out;

    -webkit-text-decoration-color: transparent;
    -moz-text-decoration-color: transparent;
}

.sidebar a:hover {
    text-decoration-color: white;
}
