:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color: white;
    background-color: #272727;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    position: relative;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

.container {
    width: 100%;
    display: flex;
}
